

table.view.cfp-submission-summary {
  float: right;
  margin-left: 2em;
  border: solid 1px #507599;
}

table.view.cfp-submission-summary tr {
  background-color: #E1EFF6;
}

table.view.cfp-submission-summary th {
  font-weight: bold;
  text-align: center;
  background-color: #0099CC;
}

table.view.cfp-submission-summary td {
  padding: 0px 2px
}

table.view.cfp-submission-summary a:link,
table.view.cfp-submission-summary a:visited,
table.view.cfp-submission-summary a:active
{
  background-color: transparent;
}

body.cfp div.view {
  margin: 1ex 0em;
}

div.cfp h3 {
  font-weight: bold;
  font-size: 14px;
}

div.collection-section td.cfp-view {
    width: 4em;
}

table.view.supporter-level-summary {
  float: right;
  margin-left: 2em;
  border: solid 1px #507599;
}

table.view.supporter-level-summary tr {
  background-color: #E1EFF6;
}

table.view.supporter-level-summary th {
  font-weight: bold;
  text-align: center;
  background-color: #0099CC;
}

table.view.supporter-level-summary td {
  padding: 0px 2px
}

table.view.supporter-level-summary td.level {
  text-align: center;
}

table.view.supporter-level-summary td.level div.name{
  font-weight: bold;
}

table.view.supporter-level-summary a:link,
table.view.supporter-level-summary a:visited,
table.view.supporter-level-summary a:active
{
  background-color: transparent;
}

.show-page .content-header .transitions {
  text-align: right;
  margin-top: -15px;
  margin-right: -5px;
}
