

table.view.cfp-submission-summary {
  float: right;
  margin-left: 2em;
  border: solid 1px #507599;
}

table.view.cfp-submission-summary tr {
  background-color: #E1EFF6;
}

table.view.cfp-submission-summary th {
  font-weight: bold;
  text-align: center;
  background-color: #0099CC;
}

table.view.cfp-submission-summary td {
  padding: 0px 2px
}

table.view.cfp-submission-summary a:link,
table.view.cfp-submission-summary a:visited,
table.view.cfp-submission-summary a:active
{
  background-color: transparent;
}

body.cfp div.view {
  margin: 1ex 0em;
}

div.cfp h3 {
  font-weight: bold;
  font-size: 14px;
}

div.collection-section td.cfp-view {
    width: 4em;
}

table.view.supporter-level-summary {
  float: right;
  margin-left: 2em;
  border: solid 1px #507599;
}

table.view.supporter-level-summary tr {
  background-color: #E1EFF6;
}

table.view.supporter-level-summary th {
  font-weight: bold;
  text-align: center;
  background-color: #0099CC;
}

table.view.supporter-level-summary td {
  padding: 0px 2px
}

table.view.supporter-level-summary td.level {
  text-align: center;
}

table.view.supporter-level-summary td.level div.name{
  font-weight: bold;
}

table.view.supporter-level-summary a:link,
table.view.supporter-level-summary a:visited,
table.view.supporter-level-summary a:active
{
  background-color: transparent;
}

.show-page .content-header .transitions {
  text-align: right;
  margin-top: -15px;
  margin-right: -5px;
}

.show-page.portfolio .transitions { float: right; margin-top: 6ex; }
.show-page.session .transitions { float: right; margin-top: 1.5ex; }

.card.presentation h4.portfolio {float: right; }

.show-page .reorder-portfolios { float: right; margin-top: 2.5ex; }

div.at-a-glance {
  width: 120%;
}

.at-a-glance {
  font-size: 9px;
}

.at-a-glance td.column {
  text-align: center;
  vertical-align: middle;
  width: 7em;
}

.at-a-glance .calibration td {
  line-height: 0;
  padding: 0;
  width: 2em;
  background-color: white;
}

.at-a-glance .bottom td { border-top: solid 2px #DEF0F4; }

.at-a-glance th {
  vertical-align: middle;
  font-size: 11px;
  font-weight: bold;
  background-color: #2399b5;
  padding: 2px;
}

.at-a-glance th.happening     { text-align: center; background-color: #2399b5; }
.at-a-glance th.not-happening { text-align: center; background-color: #2399b5; }

.at-a-glance th.room { width: 5em; }

.at-a-glance .happening {
  padding: .3ex .3em;
  background-color: #DEF0F4;
}

.at-a-glance .not-happening { background-color: white; }

.at-a-glance table {
  margin-right: 5em;
  border-top: solid 2px #DEF0F4;
 }

.at-a-glance td, .at-a-glance th { border: solid 1px white; }

.at-a-glance .session { color: blue }

.at-a-glance .portfolio, .at-a-glance .portfolio a { font-weight: bold; color: blue; }

.at-a-glance a {background-color: inherit; }

.at-a-glance .evening.happening { vertical-align: middle; text-align: center; }
.at-a-glance .evening.happening .time-slot { white-space: nowrap; }
